@charset "utf-8";
/* Noto Sans */
@font-face {
	font-family: 'NotoSansCJK';
	font-style: normal;
	font-weight: 400;
	src: url('../font/notokr-light.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-light.woff2') format('woff2'),
		url('../font/notokr-light.woff') format('woff'),
		url('../font/notokr-light.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSansCJK';
	font-style: normal;
	font-weight: 500;
	src: url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-regular.woff2') format('woff2'),
		url('../font/notokr-regular.woff') format('woff'),
		url('../font/notokr-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSansCJK';
	font-style: normal;
	font-weight: 600;
	src: url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-medium.woff2') format('woff2'),
		url('../font/notokr-medium.woff') format('woff'),
		url('../font/notokr-medium.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSansCJK';
	font-style: normal;
	font-weight: 700;
	src: url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-bold.woff2') format('woff2'),
		url('../font/notokr-bold.woff') format('woff'),
		url('../font/notokr-bold.ttf') format('truetype');
}

*{margin:0; padding:0;}
ul, ol, li{list-style:none;}
a{text-decoration:none; color:#444;}
.blind, caption{font-size:0; position:absolute; top:-999999px; visibility:hidden;}
::selection{background-color:rgba(24,190,176,0.7);}
.clearfix{clear:both; overflow:hidden;}
body {position:relative; height:100vh; margin:0; font-family:'NotoSansCJK', sans-serif; font-size:14px;}
body * {line-height:calc( 1em + 8px);}
// .wrap {
	// mix-blend-mode:screen; cursor:none; 2020-07-21
	// &.active {cursor:auto;} 2020-07-21
// }

.inner {width:1280px; margin:0 auto; padding:0 35px 0 20px; box-sizing:border-box;}
footer{
	/*position:fixed; left:0; bottom:0; z-index:0; width:100%; height:350px; padding-top:200px; 2020-07-21*/ padding:50px 0; background-color:rgba(0, 31, 58, 0.8); color:#fff; text-align:center; font-size:1.3em;
	& a{color:#fff;}
	& p {
		& strong {
			display:inline-block; margin-bottom:10px; font-weight:500;
		}
	}
}
// .mobFooter {display:none;} 2020-07-21
// 2020-07-21 삭제
// .cursor {
// 	position:fixed; top:0; left:0; z-index:999; display:block; width:50px; height:50px; margin:-30px 0 0 -35px; 
// 	background: url("/inc/images/wheel_white.png") no-repeat center; background-size:100% auto; 
// 	will-change:transform; user-select:none; pointer-events:none; transform:scale(0.9);
// 	&.active {
// 		width:80px; height:80px; border-radius:50%; background-color:rgba(72,127,183,0.8); background-image:none; transform:scale(0.25);
// 	}

// }

$bg-image : linear-gradient(to left, #aee, #eaa, #eae);
$font-color: #ffffff;
// $bg-color : #f1ece3;
$list-dim : rgba(0, 31, 58, 0.7);
$bg-icoSkill: rgba(108, 194, 189, 0.8);
//rgba(72,127,183,0.7)

@mixin listType($r, $g, $b, $opacity:0.9) {
	border:1px solid rgba($r, $g, $b, $opacity);
}

/* 본문 */
.container {padding-top:100px; background-image:$bg-image;}
.mainTit {position:relative; z-index:1; width:1280px; margin:0 auto; padding:0 35px 0 20px; font-size:3em; color:rgba(0, 31, 58, 0.8); box-sizing:border-box;}

.mainSvg {
	position:fixed; top:0; left:0; z-index:100; font-size:6rem; font-weight:bold; text-transform:uppercase; transition:1s font-size; text-decoration: underline;
	& rect {
		fill: white;
		mask:url(#mask);
	}
	& .rectBox {
		fill: rgba(0, 31, 58, 0.8);
	}
}
.bg {position:fixed; top:0; left:0; z-index: 1; background-image:$bg-image; width:100%; height:100%;}

#list {position:relative; display:flex; flex-wrap:wrap; flex-direction:row; align-items:center; justify-content:space-between; box-sizing:border-box;}
.listItem {
	position:relative; width:350px; box-sizing:border-box; margin-top:30px; padding-bottom:18px;
	&:nth-child(n+4) {margin-top:100px;}
}
.itemTit {
	position:relative; z-index:10; 
	& .title {
		overflow: hidden; display:block; width:100%; height:auto; text-align:center; border-radius:10px; box-sizing:border-box; background-color:#ffffff;
		& img {
			display:block; width:100%; height:auto;
		}
	}
	& .info {box-sizing:border-box;}
	& .subTitle {
		display:block; margin-top:5px; font-size:1.1rem; color:$font-color; font-weight:600; text-decoration:none; text-shadow: 2px 2px 4px rgba(0,0,0,.8);
		&:hover {color:#37cd90;}
		&[href*="javascript"] {cursor:context-menu;}
		&:not([href*="javascript:void(0);"]):after {content:'';display:inline-block; width:20px; height:20px; margin-left:5px; background:url(../images/icon_link.png) no-repeat center; background-size:100% auto; vertical-align:middle;}
	}
	& .icoSkill {
		display:block; margin-top:8px;
		& span {display:inline-block; padding:0 5px 2px; border-radius:3px; font-size:0.8em; /*background-color:$bg-icoSkill;*/ color:#ffffff;}
		& .icoHtml {background-color:#37cd90;}
		& .icoCSS3 {background-color:#e84b80;}
		& .icoSass {background-color:#487fb7;}
		& .icoJS {background-color:#fbeb34;}
		& .icoEtc {background-color:#8b7db7;}
	}
}
.itemInfo {
	position:absolute; z-index:1; top:15px; right:-15px; left:15px; padding:75% 10px 10px; background-color:$list-dim; color:$font-color; border-radius:10px;
	& .btmArea {
		height:0; opacity:0; margin-top:25px; padding:0 6px; font-weight:normal;
		& .myWork span, & .program span {
			&:after {content:', ';}
			&:last-child:after {display:none;}
		}
		& .program {
			& span {font-size:01em;}
		}
	}
}

/* top 버튼 */
.top {position:fixed;z-index:10;bottom:50px;right:50px;width:50px;height:50px;line-height:50px;background-color:rgba(0,0,0,0.5);border-radius:50%;color:#fff;text-align:center;}
/* 모바일 문구 */
.moSub {display:none;}

@media screen and (max-width:1200px) {
	// .wrap {cursor:auto;} 2020-07-21
	// .cursor {display:none;} 2020-07-21
	.inner,
	.mainTit {width:860px;}
	.mainSvg {
		font-size:4rem;
	}
	.listItem {
		&:nth-child(n + 3) {margin-top:100px;}
	}
}

@media screen and (max-width:840px) {
	// footer {display:none;} 2020-07-21
	.inner,
	.mainTit {width:480px;}
	.mainTit {text-align:center;}
	.listItem {
		margin:100px auto 0;
		&:nth-child(1) {margin-top:30px;}
	}
	.container {padding-top:70px;}
	/* top 버튼 */
	.top {display:none;}
	/* 모바일 문구 */
	.moSub {display:block;padding:5px 10px 0;text-align:center;}
	// .mobFooter {display:block; position:relative; z-index:1; padding:40px 20px; font-size:1.3em; color:#555; background-color:rgba(255,255,255,0.7);} 2020-07-21
}

//min
@media screen and (max-width:480px) {
	.inner,
	.mainTit {width:100%;min-width:320px;}
	.inner {padding:0 30px;}
	.container, 
	footer{min-width:320px;}
}

// SVG
.wrap {
	mix-blend-mode:screen; cursor:none;
	&.active {cursor:auto;}
}
footer{
	position:fixed; left:0; bottom:0; z-index:0; width:100%; height:350px;
}
#list {padding-bottom:100px;}
.container {margin-bottom:450px; background-image:$bg-image;}
.mobFooter {display:none;}
.cursor {
	position:fixed; top:0; left:0; z-index:999; display:block; width:50px; height:50px; margin:-30px 0 0 -35px; 
	background: url("/inc/images/wheel_white.png") no-repeat center; background-size:100% auto; 
	will-change:transform; user-select:none; pointer-events:none; transform:scale(0.9);
	&.active {
		width:80px; height:80px; border-radius:50%; background-color:rgba(72,127,183,0.8); background-image:none; transform:scale(0.25);
	}

}
/* 브라우저 호환 */
.layerpopup {
	display:none; position:fixed; top:20%; left:50%; z-index:102; padding:30px 100px; background-color:#ffffff; transform:translatex(-50%); text-align:center;
	& .btn {margin-top:20px; padding:3px 10px 5px; background-image:none; background-color:transparent; outline:none; border-radius: 5px; box-shadow:0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.11); border:1px solid rgba(0,0,0,0.2);}
	& .btn:active {transform: scale(0.98);}
}
.dim {display:none; position:fixed; top:0; left:0; z-index:101; width:100%; height:100%; background-color:rgba(0,0,0,0.7);}

@media screen and (max-width:1200px) {
	.wrap {cursor:auto;}
	.cursor {display:none;}
}
@media screen and (max-width:840px) {
	footer {display:none;}
	.container {margin-bottom:100px;}
	.mobFooter {display:block; position:relative; z-index:1; padding:40px 20px; font-size:1.3em; color:#555; background-color:rgba(255,255,255,0.7);}
}