<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="/asset/css/reset.css">
    <link rel="stylesheet" href="/asset/css/style.css">
</head>
<body>
    <div id="wrap">
        <section id="list" class="inner">
            <div class="listItem">
                <div class="itemTit">
                    <span class="title">
                        NAME
                    </span>
                    <div class="info">
                        <span class="subTitle">SubNAme</span>
                        <span class="icoSkill">
                            <span class="icoHtml">Icon</span>
                            <span class="icoCSS3">Icon</span>
                            <span class="icoSass">Icon</span>
                            <span class="icoJS">Icon</span>
                        </span>
                    </div>
                </div>
                <div class="itemInfo">
                    <div class="btmArea">
                        <div class="myWork">
                            <span class="percent">1234</span>
                            <span class="date">1234121212</span>
                            <span class="kindOf">mobile</span>
                        </div>
                        <div class="program">
                            <span>ABCDEFG</span>
                            <span>ABCDEFG</span>
                            <span>ABCDEFG</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listItem">
                <div class="itemTit">
                    <span class="title">
                        NAME
                    </span>
                    <div class="info">
                        <span class="subTitle">SubNAme</span>
                        <span class="icoSkill">
                            <span class="icoHtml">Icon</span>
                            <span class="icoCSS3">Icon</span>
                            <span class="icoSass">Icon</span>
                            <span class="icoJS">Icon</span>
                        </span>
                    </div>
                </div>
                <div class="itemInfo">
                    <div class="btmArea">
                        <div class="myWork">
                            <span class="percent">1234</span>
                            <span class="date">1234121212</span>
                            <span class="kindOf">mobile</span>
                        </div>
                        <div class="program">
                            <span>ABCDEFG</span>
                            <span>ABCDEFG</span>
                            <span>ABCDEFG</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listItem">
                <div class="itemTit">
                    <span class="title">
                        NAME
                    </span>
                    <div class="info">
                        <span class="subTitle">SubNAme</span>
                        <span class="icoSkill">
                            <span class="icoHtml">Icon</span>
                            <span class="icoCSS3">Icon</span>
                            <span class="icoSass">Icon</span>
                            <span class="icoJS">Icon</span>
                        </span>
                    </div>
                </div>
                <div class="itemInfo">
                    <div class="btmArea">
                        <div class="myWork">
                            <span class="percent">1234</span>
                            <span class="date">1234121212</span>
                            <span class="kindOf">mobile</span>
                        </div>
                        <div class="program">
                            <span>ABCDEFG</span>
                            <span>ABCDEFG</span>
                            <span>ABCDEFG</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listItem">
                <div class="itemTit">
                    <span class="title">
                        NAME
                    </span>
                    <div class="info">
                        <span class="subTitle">SubNAme</span>
                        <span class="icoSkill">
                            <span class="icoHtml">Icon</span>
                            <span class="icoCSS3">Icon</span>
                            <span class="icoSass">Icon</span>
                            <span class="icoJS">Icon</span>
                        </span>
                    </div>
                </div>
                <div class="itemInfo">
                    <div class="btmArea">
                        <div class="myWork">
                            <span class="percent">1234</span>
                            <span class="date">1234121212</span>
                            <span class="kindOf">mobile</span>
                        </div>
                        <div class="program">
                            <span>ABCDEFG</span>
                            <span>ABCDEFG</span>
                            <span>ABCDEFG</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listItem">
                <div class="itemTit">
                    <span class="title">
                        NAME
                    </span>
                    <div class="info">
                        <span class="subTitle">SubNAme</span>
                        <span class="icoSkill">
                            <span class="icoHtml">Icon</span>
                            <span class="icoCSS3">Icon</span>
                            <span class="icoSass">Icon</span>
                            <span class="icoJS">Icon</span>
                        </span>
                    </div>
                </div>
                <div class="itemInfo">
                    <div class="btmArea">
                        <div class="myWork">
                            <span class="percent">1234</span>
                            <span class="date">1234121212</span>
                            <span class="kindOf">mobile</span>
                        </div>
                        <div class="program">
                            <span>ABCDEFG</span>
                            <span>ABCDEFG</span>
                            <span>ABCDEFG</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="listItem">
                <div class="itemTit">
                    <span class="title">
                        NAME
                    </span>
                    <div class="info">
                        <span class="subTitle">SubNAme</span>
                        <span class="icoSkill">
                            <span class="icoHtml">Icon</span>
                            <span class="icoCSS3">Icon</span>
                            <span class="icoSass">Icon</span>
                            <span class="icoJS">Icon</span>
                        </span>
                    </div>
                </div>
                <div class="itemInfo">
                    <div class="btmArea">
                        <div class="myWork">
                            <span class="percent">1234</span>
                            <span class="date">1234121212</span>
                            <span class="kindOf">mobile</span>
                        </div>
                        <div class="program">
                            <span>ABCDEFG</span>
                            <span>ABCDEFG</span>
                            <span>ABCDEFG</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="/asset/js/jquery-1.12.4.min.js"></script>
    <script src="/asset/js/TweenMax.min.js"></script>
    <script src="/asset/js/ui.js"></script>
</body>
</html>