@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #444;
}

body, .textareaWrap {
  font-family: 'nanumgothic', '나눔고딕', sans-serif;
}

.blind, caption {
  font-size: 0;
  position: absolute;
  top: -999999px;
  width: 1px;
  height: 0;
}

.clearfix {
  clear: both;
  overflow: hidden;
}

::-moz-selection {
  background-color: rgba(24, 190, 176, 0.7);
}

::selection {
  background-color: rgba(24, 190, 176, 0.7);
}

.wrap {
  height: 900px;
}

.clearfix {
  clear: both;
  overflow: hidden;
}

/*S scroll top */
.hdWrap {
  background-color: #1898be;
  opacity: 0.3;
}

.hdWrap:hover {
  opacity: 0.6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hdWrap.on {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: #88426f;
  opacity: 0.6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hdWrap .gnb {
  width: 600px;
  margin: 0 auto;
}

.hdWrap .gnb a {
  display: block;
  float: left;
  width: 33.333%;
  line-height: 80px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.hdWrap .gnb a.middle {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.hdWrap.on .gnb a {
  line-height: 50px;
}

/* tab */
.tabBtn {
  width: 300px;
  margin: 30px auto 0;
  border: 1px solid #ddd;
  border-right: 0;
}

.tabBtn a {
  display: block;
  float: left;
  width: 33.33%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #ddd;
  text-align: center;
  line-height: 60px;
}

.tabBtn a:hover, .tabBtn a.on {
  background-color: #eaa;
  color: #fff;
}

.tabBox {
  display: none;
  width: 260px;
  height: 200px;
  padding: 20px;
  margin: 0 auto;
}

.tabBox#tab01 {
  background-color: #fea;
}

.tabBox#tab02 {
  background-color: #eae;
}

.tabBox#tab03 {
  background-color: #aee;
}

.tabBox.on {
  display: block;
}

/* accodion */
.accodiWrap {
  width: 500px;
  margin: 50px auto 0;
  border-top: 1px solid #ffbb19;
}

.accodiWrap .accodiHd {
  clear: both;
  overflow: hidden;
  padding: 15px;
  background-color: #fffec6;
  border-bottom: 1px solid #ffbb19;
  color: #444;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.accodiAw {
  display: block;
  float: right;
  width: 18px;
  height: 14px;
  margin-top: 8px;
  background: url(../images/allimages.png) no-repeat left 0;
}

.accodiHd.on .accodiAw {
  background-position: left -15px;
}

.accodiWrap .accodiHd .quest {
  font-size: 1.3em;
  font-weight: 600;
  color: #003567;
}

.accodiWrap .accodiArea {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
}

.accodiArea div {
  padding: 20px;
  border-bottom: 1px solid #ffbb19;
  font-size: 14px;
  line-height: 23px;
}

/* layerpopUp */
.layerpopUp {
  position: relative;
  width: 300px;
  margin: 50px auto;
}

.layerpopUp .titile {
  border: 2px solid #eaa;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  color: #444;
}

.popupBtn {
  border: 0;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  color: #444;
  cursor: pointer;
}

.popupBtn:hover {
  color: #aae;
}

.layerpopUp .popupArea {
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  width: 500px;
  margin-left: -250px;
  background-color: #fff;
  border: 1px solid #eae;
}

.layerpopUp .popupArea table {
  width: 400px;
  margin: 30px auto;
}

.layerpopUp .popupArea table td {
  padding: 5px 0;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  background-color: #dfe;
  text-align: center;
  font-size: 14px;
}

.layerpopUp .popupArea table td input[type="text"] {
  width: 90%;
  padding: 5px 1%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
}

.laypopBtn {
  text-align: center;
  margin-bottom: 30px;
}

.laypopBtn input {
  width: 100px;
  padding: 5px 0;
  border: 1px solid #eab;
  text-align: center;
  background-color: #eab;
  color: #fff;
  cursor: pointer;
}

.laypopBtn input:hover {
  background-color: #fff;
}

.laypopBtn input[type="submit"]:hover {
  border: 1px solid #aee;
  color: #aee;
}

.laypopBtn input[type="reset"]:hover {
  border: 1px solid #ccc;
  color: #ccc;
}

.laypopBtn .colse:hover {
  color: #eab;
}

/* scrollBar */
.scrollBar {
  height: 900px;
}

.rollBar_wrap {
  position: fixed;
  overflow: hidden;
}

.rollBar_wrap .rollBar {
  display: block;
  height: 3px;
  background-color: #e15757;
}

/* topBtn */
.topWrap {
  height: 1200px;
}

.topWrap .topmenu {
  clear: both;
  overflow: hidden;
  width: 404px;
  margin: 0 auto;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.topWrap .topmenu a {
  display: block;
  float: left;
  width: 100px;
  border-right: 1px solid #bbb;
  text-align: center;
  line-height: 40px;
}

.topBtn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 5;
  width: 40px;
  line-height: 40px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.topBtn:hover {
  background-color: rgba(50, 200, 90, 0.4);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header {
  background-color: #18beb0;
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header:hover {
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header.on {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  opacity: 0.8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header.on .gnb a {
  line-height: 50px;
}

.header .gnb {
  width: 600px;
  margin: 0 auto;
}

.header .gnb a {
  display: block;
  position: relative;
  float: left;
  width: 33.333%;
  text-align: center;
  line-height: 80px;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .gnb a .arrow {
  display: block;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 5;
  width: 0;
  height: 11px;
}

@-webkit-keyframes arrow {
  0% {
    width: 1px;
  }
  30% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes arrow {
  0% {
    width: 1px;
  }
  30% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

.header .gnb a:hover .arrow {
  background: url(../images/arrow02.png) no-repeat;
  -webkit-animation: arrow 5s linear 0.3s 3;
          animation: arrow 5s linear 0.3s 3;
}

.header .gnb a.middle {
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-color: #fff;
  border-style: solid;
}

.header .gnb a.MyName:after {
  content: 'KIM . SO . YOUNG';
}

.header .gnb a.MyName:hover {
  font-weight: bold;
  color: #1b10ad;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: default;
}

.header .gnb a.MyName:hover:after {
  content: '010 . 3287 . 3001';
}

footer {
  margin-top: 50px;
  padding: 30px 0;
  text-align: center;
  line-height: 30px;
  color: #fff;
  background-color: #666;
}

footer a {
  color: #fff;
}

footer .top {
  display: block;
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 100;
  width: 50px;
  height: 50px;
  font-size: 1.5em;
  line-height: 50px;
  color: #fff;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.3);
}

footer .top.on {
  bottom: 50px;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/*# sourceMappingURL=common.css.map */