//한줄 말줄임
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 여러 줄(멀티 라인) 말줄임
// @param $toggle-bool - 텍스트 생략 여부
// @param $line-number - 노출할 텍스트의 줄 수

@mixin multi-ellipsis($toggle-bool, $line-number) {
  @if ($toggle-bool) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-number;
    -webkit-box-orient: vertical;
  } @else {
    display: inherit;
    overflow: visible;
    -webkit-line-clamp: none;
    -webkit-box-orient: unset;
  }
}

@mixin font($size, $weight, $color, $height: 1) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $height;
}

@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;

  // Set flex //
  @if $direction==row {
    flex-direction: row;
  } @else if $direction==row-reverse {
    flex-direction: row-reverse;
  } @else if $direction==column {
    flex-direction: column;
  } @else if $direction==column-reverse {
    flex-direction: column-reverse;
  }

  // set justify-content //
  @if $justify==flex-start {
    justify-content: flex-start;
  } @else if $justify==flex-end {
    justify-content: flex-end;
  } @else if $justify==center {
    justify-content: center;
  } @else if $justify==space-between {
    justify-content: space-between;
  }

  // set align-items //
  @if $align==flex-start {
    align-items: flex-start;
  } @else if $align==flex-end {
    align-items: flex-end;
  } @else if $align==center {
    align-items: center;
  } @else if $align==stretch {
    align-items: stretch;
  } @else if $align==baseline {
    align-items: baseline;
  }
}

@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// set ir
@mixin ir() {
  font-size: 1px;
  color: transparent;
  word-break: break-all;
}

// set image
@mixin imageReset() {
  display: block;
  width: 100%;
  height: auto;
}

// set scroll bar
@mixin noneScrollbar() {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }
}
