// responsive
$pc_1700: 'screen and (max-width: 1700px)';
$tablet_768: 'screen and (max-width: 768px)';
$mobile_360: 'screen and (max-width: 360px)';

// color palette
$white: #fff;
$black: #000;

$list-dim: rgba(6, 84, 152, 0.72);
