// responsive
$pc_1700: 'screen and (max-width: 1700px)';
$tablet_768: 'screen and (max-width: 768px)';
$mobile_360: 'screen and (max-width: 360px)';

// color palette
:root {
  --color-white: #fff;
  --color-black: #000;
  --color_333333: #333;
  --color_37cd90: #37cd90;
  --color_e84b80: #e84b80;
  --color_f98500: #f98500;
  --color_fbeb34: #fbeb34;
  --color_c47ee4: #c47ee4;
  --color_487fb7: #487fb7;
  --color_dddddd: #dddddd;
  --color_list_dim: rgba(6, 84, 152, 0.72);
  --object_selected: rgba(24, 190, 176, 0.7);
  --main_header: rgba(0, 12, 150, 0.8);
}
