@charset "UTF-8";
/* footer */
footer {
  margin-top: 20rem;
  padding: 5rem 0;
  background-color: rgba(0, 31, 58, 0.8);
  color: #fff;
  text-align: center;
  font-size: 1.3em;
}
footer a {
  color: #fff;
}
footer p strong {
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: 500;
}

/* top 버튼 */
.top {
  position: fixed;
  z-index: 10;
  bottom: 5rem;
  right: 5rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
.top:hover {
  font-weight: 600;
}

::-moz-selection {
  background-color: rgba(24, 190, 176, 0.7);
}

::selection {
  background-color: rgba(24, 190, 176, 0.7);
}

/* 본문 */
.container {
  padding-top: 10rem;
}

.mainTit {
  position: relative;
  z-index: 1;
  max-width: 135rem;
  padding: 0 2rem;
  margin: 5rem auto 0;
  font-size: 3em;
  font-weight: 700;
  color: rgba(0, 12, 150, 0.8);
}
.mainTit.name {
  font-size: 2.4rem;
  font-weight: 500;
}

.inner {
  display: block;
  max-width: 139rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.listWrap {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -5rem;
}

.listItem {
  position: relative;
  width: 35rem;
  margin: 5rem;
  padding-right: 1rem;
  padding-bottom: 1.8rem;
}
.listItem.on {
  padding: 0;
}
.listItem.on .btmArea {
  opacity: 1;
  height: auto;
  margin-top: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.listItem.on .itemInfo {
  -ms-flex-line-pack: end;
  align-content: flex-end;
  width: calc(100% + 30px);
  top: -15px;
  left: -15px;
  right: -15px;
}

.itemTit {
  position: relative;
  z-index: 10;
}
.itemTit .title {
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 1rem;
  background-color: #ffffff;
  border: 1px solid rgba(0, 149, 255, 0.49);
}
.itemTit .title img {
  display: block;
  width: 100%;
  height: auto;
}
.itemTit .subTitle {
  overflow: hidden;
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  padding-left: 2.4rem;
  text-indent: -2.4rem;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.itemTit .subTitle[href*=javascript] {
  cursor: context-menu;
}
.itemTit .subTitle:before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  background: url("../images/icon_link_no.png") no-repeat center/cover;
  vertical-align: middle;
}
.itemTit .subTitle:not([href*="javascript:void(0);"]):before {
  background-image: url("../images/icon_link.png");
}
.itemTit .icoSkill {
  display: block;
  margin-top: 0.8rem;
}
.itemTit .icoSkill span {
  display: inline-block;
  padding: 0 0.5rem 0.2rem;
  border-radius: 3px;
  font-size: 0.8em;
  color: #ffffff;
}
.itemTit .icoSkill .icoHtml {
  background-color: #37cd90;
}
.itemTit .icoSkill .icoCSS3 {
  background-color: #e84b80;
}
.itemTit .icoSkill .icoSass {
  background-color: #f98500;
}
.itemTit .icoSkill .icoJS {
  background-color: #fbeb34;
  color: rgb(0, 0, 0);
}
.itemTit .icoSkill .icoEtc {
  background-color: #c47ee4;
}

.itemInfo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: 1;
  top: 1.5rem;
  left: 1.5rem;
  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  background-color: rgba(6, 84, 152, 0.72);
  color: #fff;
  border-radius: 1rem;
}
.itemInfo .btmArea {
  width: 100%;
  height: 0;
  opacity: 0;
  padding: 0 1.5rem 3rem;
  font-weight: 400;
}
.itemInfo .btmArea .myWork span:after,
.itemInfo .btmArea .program span:after {
  content: ", ";
}
.itemInfo .btmArea .myWork span:last-child:after,
.itemInfo .btmArea .program span:last-child:after {
  display: none;
}
.itemInfo .btmArea .program span {
  font-size: 1em;
}

.careerWrap {
  margin-top: 12rem;
}

.careList {
  margin-top: 3rem;
}

.careList + .careList {
  padding-top: 3rem;
  border-top: 1px solid #ddd;
}

.careList > li {
  display: table;
  width: 100%;
  font-size: 0;
  word-break: keep-all;
}

.careList > li + li {
  margin-top: 2rem;
}

.careList > li > * {
  display: table-cell;
  vertical-align: top;
  color: #333;
}

.careList > li > .liTit {
  width: 11.5rem;
}

.liTit {
  font-size: 18px;
  font-weight: 500;
}

.liTxt {
  font-size: 2rem;
  font-weight: 500;
}

.liTxt .rate {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.liTxt .kind {
  font-size: 16px;
}

.liTxt span:before {
  content: "";
  display: inline-block;
  margin: -0.4rem 3rem 0 3.2rem;
  width: 1px;
  height: 1.5rem;
  background-color: #ddd;
  vertical-align: middle;
}

/* 모바일 문구 */
.moSub {
  display: none;
}

@media screen and (max-width: 1200px) {
  .inner,
  .mainTit {
    max-width: 860px;
    margin: 0 auto;
  }
  .listItem:nth-child(n+3) {
    margin-top: 100px;
  }
}
@media screen and (max-width: 840px) {
  .inner,
  .mainTit {
    max-width: 480px;
  }
  #career {
    max-width: 100%;
    padding: 0 20px;
  }
  .mainTit {
    text-align: center;
  }
  .mainTit .name {
    display: block;
  }
  .listWrap {
    margin: 0;
  }
  .listItem {
    width: 100%;
    margin: 100px auto 0;
  }
  .listItem:nth-child(1) {
    margin-top: 50px;
  }
  .container {
    padding-top: 70px;
  }
  .careerWrap {
    margin-top: 80px;
  }
  .careerWrap .mainTit {
    font-size: 2.2em;
  }
  .careList > li > * {
    display: block;
  }
  .careList > li > .liTit {
    width: 100%;
  }
  .liTit {
    position: relative;
    padding-left: 15px;
  }
  .liTit:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
    width: 4px;
    height: 14px;
    background-color: #487fb7;
    opacity: 0.5;
  }
  .liTxt {
    font-size: 17px;
  }
  .liTxt {
    padding-left: 15px;
  }
  .liTxt span:first-of-type:before {
    display: none;
  }
  .liTxt span:before {
    content: "/";
    margin: -11px 12px 0 6px;
    background-color: transparent;
    color: #ddd;
  }
  .liTxt .kind,
  .liTxt .rate {
    font-size: 15px;
  }
  /* footer */
  footer {
    margin-top: 100px;
  }
  /* top 버튼 */
  .top {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
  }
  /* 모바일 문구 */
  .moSub {
    display: block;
    padding: 25px 10px 0;
    text-align: center;
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .inner {
    padding: 0 30px;
  }
  .inner,
  .mainTit {
    width: 100%;
    min-width: 320px;
  }
  .container,
  footer {
    min-width: 320px;
  }
  .liTxt span:first-of-type {
    display: block;
  }
}