@charset "UTF-8";
:root {
  --color-white: #fff;
  --color-black: #000;
  --color_333333: #333;
  --color_37cd90: #37cd90;
  --color_e84b80: #e84b80;
  --color_f98500: #f98500;
  --color_fbeb34: #fbeb34;
  --color_c47ee4: #c47ee4;
  --color_487fb7: #487fb7;
  --color_dddddd: #dddddd;
  --color_list_dim: rgba(6, 84, 152, 0.72);
  --object_selected: rgba(24, 190, 176, 0.7);
  --main_header: rgba(0, 12, 150, 0.8);
}

header {
  max-width: 135rem;
  padding: 0 2rem;
  margin: 5rem auto;
}

.my_ability_area {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-333333);
  line-height: 1.6;
}
.my_ability_area strong {
  font-weight: 700;
}
.my_ability_area .ability_row {
  margin-top: 1rem;
}
.my_ability_area p strong {
  font-weight: 500;
}

/* footer */
footer {
  margin-top: 20rem;
  padding: 5rem 0;
  background-color: rgba(0, 31, 58, 0.8);
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--color-white);
  line-height: 1.6;
  text-align: center;
}
footer strong {
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: 500;
}

/* top 버튼 */
.top {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  bottom: 5rem;
  right: 5rem;
  width: 5rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-white);
  line-height: 1.4;
  text-align: center;
}
.top:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.blind {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  color: transparent;
}

::-moz-selection {
  background-color: var(--object_selected);
}

::selection {
  background-color: var(--object_selected);
}

/* 본문 */
.container {
  max-width: 135rem;
  padding: 2rem 2rem 0;
  margin: 0 auto;
}

.main_title {
  position: relative;
  z-index: 1;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 500;
  color: var(--main_header);
  line-height: 1.4;
}
.main_title .name {
  font-size: 3.8rem;
  font-weight: 700;
}

.inner {
  display: block;
  max-width: 139rem;
  margin: 0 auto;
}

.list_wrap {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -5rem;
}
.list_wrap:after {
  content: "";
  display: block;
  width: 100%;
  height: 5rem;
}

.list_item {
  position: relative;
  width: 35rem;
  margin: 5rem;
  padding-right: 1rem;
  padding-bottom: 1.8rem;
}
.list_item.on .bottom_area {
  visibility: visible;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.list_item.on .item_back {
  opacity: 1;
  width: calc(100% + 1rem);
  top: -1rem;
  left: -1rem;
  right: 0;
}

.item_title {
  position: relative;
  z-index: 10;
}
.item_title .thumb_box {
  overflow: hidden;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 149, 255, 0.49);
  text-align: center;
}
.item_title .thumb_box img {
  display: block;
  width: 100%;
  height: auto;
}
.item_title .sub_title {
  overflow: hidden;
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 2.4rem;
  text-indent: -2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-white);
  line-height: 1.4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.item_title .sub_title[href*=javascript] {
  cursor: context-menu;
}
.item_title .sub_title:before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  background: url("../images/icon_link_no.png") no-repeat center/cover;
  vertical-align: middle;
}
.item_title .sub_title:not([href*="javascript:void(0);"]):before {
  background-image: url("../images/icon_link.png");
}
.item_title .skill_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -0.2rem;
}
.item_title .skill_label span {
  display: block;
  padding: 0 0.5rem 0.2rem;
  margin: 0.2rem;
  border-radius: 3px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-white);
  line-height: 1.4;
}
.item_title .skill_label .label_green {
  background-color: var(--color_37cd90);
}
.item_title .skill_label .label_pink {
  background-color: var(--color_e84b80);
}
.item_title .skill_label .label_orange {
  background-color: var(--color_f98500);
}
.item_title .skill_label .label_yellow {
  background-color: var(--color_fbeb34);
  color: rgb(0, 0, 0);
}
.item_title .skill_label .label_purple {
  background-color: var(--color_c47ee4);
}
.item_title .bottom_area {
  visibility: hidden;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.item_title .my_work,
.item_title .program {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-white);
  line-height: 1.6;
}
.item_title .my_work span:after,
.item_title .program span:after {
  content: ", ";
}
.item_title .my_work span:last-child:after,
.item_title .program span:last-child:after {
  display: none;
}

.item_back {
  opacity: 0.8;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: 1;
  top: 1.5rem;
  left: 1.5rem;
  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  border-radius: 1rem;
  background-color: var(--color_list_dim);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: var(--color-white);
}

.career_wrap {
  margin-top: 12rem;
}

.career_list {
  border-top: 1px solid var(--color_dddddd);
}
.career_list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 0;
}

.li_title {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-333333);
  line-height: 1.4;
}

.li_text {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-333333);
  line-height: 1.4;
}
.li_text .rate {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-black);
  line-height: 1.4;
}
.li_text .kind {
  font-weight: 500;
}
.li_text span:before {
  content: "";
  display: inline-block;
  margin: 0 1rem;
  width: 1px;
  height: 1.5rem;
  background-color: var(--color_dddddd);
  vertical-align: middle;
}

/* 모바일 문구 */
.mo_none {
  display: none;
}

@media screen and (max-width: 1290px) {
  header,
  .container {
    max-width: 86rem;
  }
}
@media screen and (max-width: 840px) {
  .my_ability_area {
    text-align: center;
  }
  #career {
    max-width: 100%;
    padding: 0 2rem;
  }
  .main_title {
    text-align: center;
  }
  .main_title .name {
    display: block;
  }
  .list_wrap {
    margin: 0;
  }
  .list_item {
    width: calc(100% - 4rem);
    margin: 7rem auto 0;
  }
  .list_item:first-child {
    margin-top: 3rem;
  }
  .container {
    padding-top: 0;
  }
  .career_wrap {
    margin-top: 8rem;
  }
  .career_wrap .main_title {
    font-size: 2.2em;
  }
  .li_title {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 11rem;
    padding-left: 1.5rem;
  }
  .li_title:before {
    content: "";
    position: absolute;
    opacity: 0.5;
    top: 0.7rem;
    left: 0;
    z-index: 1;
    width: 0.4rem;
    height: 1.4rem;
    background-color: var(--color_487fb7);
  }
  .li_text {
    padding-left: 1.5rem;
  }
  .li_text span:before {
    content: "/";
    margin: -1.1rem 1.2rem 0 0.6rem;
    background-color: transparent;
    color: var(--color_dddddd);
  }
  .li_text span:first-of-type:before {
    display: none;
  }
  .li_text .kind,
  .li_text .rate {
    font-size: 1.5rem;
  }
  /* footer */
  footer {
    margin-top: 10rem;
  }
  /* top 버튼 */
  .top {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    border-radius: 0;
  }
  /* 모바일 문구 */
  .mo_none {
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: rgba(var(--color-black), 0.7);
  }
}
@media screen and (max-width: 480px) {
  .inner,
  .main_title {
    width: 100%;
    min-width: 32rem;
  }
  .container,
  footer {
    min-width: 32rem;
  }
  .career_list > li {
    display: block;
  }
  .li_text span {
    margin-right: 1rem;
  }
  .li_text span:first-of-type {
    display: block;
  }
  .li_text span::before {
    display: none;
  }
}