.contents {
  min-height: 800px;
}

.cardWrap, .wicView {
  width: 1200px;
  margin: 75px auto 50px;
}

.card {
  position: relative;
  display: block;
  width: 370px;
  float: left;
  overflow: hidden;
  margin-right: 43px;
  margin-bottom: 70px;
  min-height: 251px;
  border: 5px solid #ddd;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card:nth-child(3n) {
  margin-right: 0;
}

.cardWrap img {
  display: block;
  width: 100%;
  height: auto;
}

/* wid */
.work {
  padding-top: 5px;
}

/* wic */
.cardWrap.wic .card {
  background-image: url(../images/bg01.png);
  background-size: 40px auto;
}

.jscardEx {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -50px;
  z-index: 20;
  line-height: 100px;
  font-size: 1.8em;
  text-align: center;
  color: #fff;
  background-color: rgba(24, 190, 176, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.jscardEx:hover {
  background-color: rgba(24, 190, 176, 0.8);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.yet .jscardEx {
  background-color: rgba(0, 0, 0, 0.3);
}

.pubcardEx {
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  z-index: 20;
  height: 100%;
  opacity: 0;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

.card:hover .pubcardEx {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.pubcardEx span {
  display: block;
  color: #000;
  font-size: 13px;
  line-height: 20px;
}

.pubcardEx span.year {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
}

.cardWrap.wid .card:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 41, 73, 0.3);
}

/* wip view */
/*.sce textarea{display: block; width: 300px; height: 300px; float: left;}*/
.sce textarea {
  display: block;
  width: 1000px;
  border: 0;
  overflow-y: hidden;
}

.cssSce {
  margin: 0 47px;
}

.textareaWrap:before {
  display: block;
  padding: 10px;
  font-size: 1.6em;
}

.textareaWrap.html:before {
  content: 'HTML';
}

.textareaWrap.css:before {
  content: 'CSS';
}

.textareaWrap.js:before {
  content: 'jQuery';
}

.textareaWrap {
  float: left;
  width: 368px;
  height: 300px;
  padding: 10px;
  overflow: scroll;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.textareaWrap.css {
  margin: 0 47px;
}

.textareaWrap::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.textareaWrap::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ffd1d1;
}

.textareaWrap::-webkit-scrollbar-thumb {
  background-color: #ffd1d1;
}

.viewArea {
  position: relative;
  margin-top: 100px;
  border: 1px solid #ddd;
}

.sample {
  display: block;
  width: 100%;
  min-height: 500px;
  border: 0;
  overflow-y: scroll;
}

@media screen and (max-width: 1200px) {
  .cardWrap, .wicView {
    width: 80%;
  }
  .card {
    width: 30%;
    height: 200px;
    min-height: auto;
    margin-right: 5%;
  }
  .textareaWrap {
    width: 30%;
  }
  .textareaWrap.css {
    margin: 0 5%;
  }
  .card {
    position: relative;
  }
  .cardWrap img {
    width: 120%;
    position: absolute;
    left: 50%;
    z-index: 1;
    margin-left: -60%;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    width: 47%;
    margin-right: 5%;
  }
  .card:nth-child(3n) {
    margin-right: 5%;
  }
  .card:nth-child(2n) {
    margin-right: 0;
  }
  /* .cardWrap img {width: 100%;} */
}

@media screen and (max-width: 768px) {
  body {
    min-width: 700px;
  }
  /* .card{height: 200px;} */
  .textareaWrap {
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
  }
  .textareaWrap.css {
    margin: 0 0 50px 0;
  }
  .viewArea {
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */