@charset "utf-8";
/* Noto Sans */
@font-face {
	font-family: 'noto';
	font-style: normal;
	font-weight: 400;
	src: url('../font/notokr-light.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-light.woff2') format('woff2'),
		url('../font/notokr-light.woff') format('woff'),
		url('../font/notokr-light.ttf') format('truetype');
}
@font-face {
	font-family: 'noto';
	font-style: normal;
	font-weight: 500;
	src: url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-regular.woff2') format('woff2'),
		url('../font/notokr-regular.woff') format('woff'),
		url('../font/notokr-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'noto';
	font-style: normal;
	font-weight: 600;
	src: url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-medium.woff2') format('woff2'),
		url('../font/notokr-medium.woff') format('woff'),
		url('../font/notokr-medium.ttf') format('truetype');
}
@font-face {
	font-family: 'noto';
	font-style: normal;
	font-weight: 700;
	src: url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
		url('../font/notokr-bold.woff2') format('woff2'),
		url('../font/notokr-bold.woff') format('woff'),
		url('../font/notokr-bold.ttf') format('truetype');
}
/* roboto */

@font-face {
	font-family: 'robo';
	font-style: normal;
	font-weight: 400;
	src: url('../font/Roboto-Light.woff2') format('woff2'),
		url('../font/Roboto-Light.woff') format('woff'),
		url('../font/Roboto-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'robo';
	font-style: normal;
	font-weight: 500;
	src: url('../font/Roboto-Regular.woff2') format('woff2'),
		url('../font/Roboto-Regular.woff') format('woff'),
		url('../font/Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'robo';
	font-style: normal;
	font-weight: 700;
	src: url('../font/Roboto-Bold.woff2') format('woff2'),
		url('../font/Roboto-Bold.woff') format('woff'),
		url('../font/Roboto-Bold.ttf') format('truetype');
}


*{margin:0;padding:0;}
ul, ol, li{list-style:none;}
a{text-decoration:none;color:#444;}
body {position:relative;height:100vh;margin:0;font-family:'robo', 'noto', sans-serif;font-size:14px;}
body * {line-height:calc( 1em + 8px);}

.blind, caption{font-size:0;position:absolute;top:-999999px;visibility:hidden;}
::selection{background-color:rgba(24,190,176,0.7);}
.clearfix{clear:both;overflow:hidden;}

.inner {max-width:1280px;margin:0 auto;padding:0 35px 0 20px;box-sizing:border-box;}
$fc-fff: #ffffff;
$list-dim : rgba(6, 84, 152, 0.72);

@mixin listType($r, $g, $b, $opacity:0.9) {
	border:1px solid rgba($r, $g, $b, $opacity);
}

/* 본문 */
.container {padding-top:100px;}
.mainTit {
	position:relative;z-index:1;max-width:1280px;margin:0 auto;padding:0 35px 0 20px;font-size:3em;font-weight:700;color:rgba(0, 12, 150, 0.8);box-sizing:border-box;
	& .name {font-size:24px;font-weight:500;}
}

#list {position:relative;display:flex;flex-wrap:wrap;flex-direction:row;align-items:center;justify-content:space-between;box-sizing:border-box;}
.listItem {
	position:relative;width:350px;box-sizing:border-box;margin-top:50px;padding-bottom:18px;
	&:nth-child(n + 4) {margin-top:100px;}
}
.itemTit {
	position:relative;z-index:10;
	& .title {
		overflow: hidden;display:block;width:100%;height:auto;text-align:center;border-radius:10px;box-sizing:border-box;background-color:#ffffff;border:1px solid rgba(0,149,255,0.49);
		& img {
			display:block;width:100%;height:auto;
		}
	}
	& .info {box-sizing:border-box;}
	& .subTitle {
		overflow:hidden;display:block;width:80%;margin-top:5px;font-size:1.1rem;color:$fc-fff;font-weight:600;text-shadow: 2px 2px 4px rgba(0,0,0,.8);text-decoration:none;white-space:nowrap;text-overflow: ellipsis;
		&[href*="javascript"] {cursor:context-menu;}
		&:before {content:'';display:inline-block;width:20px;height:20px;margin:-3px 5px 0 0;background:url('../images/icon_link_no.png') no-repeat center;background-size:100% auto;vertical-align:middle;}
		&:not([href*="javascript:void(0);"]):before {background-image:url('../images/icon_link.png');}
	}
	& .icoSkill {
		display:block;margin-top:8px;
		& span {display:inline-block;padding:0 5px 2px;border-radius:3px;font-size:0.8em;color:#ffffff;}
		& .icoHtml {background-color:#37cd90;}
		& .icoCSS3 {background-color:#e84b80;}
		& .icoSass {background-color:#f98500;}
		& .icoJS {background-color:#fbeb34;}
		& .icoEtc {background-color:#c47ee4;}
	}
}
.itemInfo {
	position:absolute;z-index:1;top:15px;right:-15px;left:15px;padding:75% 10px 10px;background-color:$list-dim;color:$fc-fff;border-radius:10px;
	& .btmArea {
		height:0;opacity:0;margin-top:25px;padding:0 6px;font-weight:400;
		& .myWork span, & .program span {
			&:after {content:', ';}
			&:last-child:after {display:none;}
		}
		& .program {
			& span {font-size:01em;}
		}
	}
}
.careerWrap {margin-top:120px;}
.careList {margin-top:30px;}
.careList + .careList {padding-top:30px;border-top:1px solid #ddd;}
.careList > li {display:table;width:100%;font-size:0;word-break:keep-all;}
.careList > li + li {margin-top:20px;}
.careList > li > * {display:table-cell;vertical-align:top;color:#333;}
.careList > li > .liTit {width:115px;}
.liTit {font-size:18px;font-weight:500;}
.liTxt {font-size:20px;font-weight:500;}
.liTxt .rate {font-size:16px;font-weight:500;color:#000;}
.liTxt .kind {font-size:16px;}
.liTxt span:before {content:'';display:inline-block;margin:-4px 30px 0 32px; width:1px;height:15px;background-color:#ddd;vertical-align:middle;}

/* footer */
footer{
	margin-top:200px;padding:50px 0;background-color:rgba(0, 31, 58, 0.8);color:#fff;text-align:center;font-size:1.3em;
	& a{color:#fff;}
	& p {
		& strong {
			display:inline-block;margin-bottom:10px;font-weight:500;
		}
	}
}
/* top 버튼 */
.top {
	position:fixed;z-index:10;bottom:50px;right:50px;width:50px;height:50px;line-height:50px;background-color:rgba(0,0,0,0.5);border-radius:50%;color:#fff;text-align:center;
	&:hover {font-weight:600;}
}
/* 모바일 문구 */
.moSub {display:none;}

@media screen and (max-width:1200px) {
	.inner, .mainTit {max-width:860px;}
	.listItem {
		&:nth-child(n + 3) {margin-top:100px;}
	}
}

@media screen and (max-width:840px) {
	.inner, .mainTit {max-width:480px;}
	#career {max-width:100%;padding:0 20px;}
	.mainTit {
		text-align:center;
		& .name {display:block;}
	}
	.listItem {
		width:100%;
		margin:100px auto 0;
		&:nth-child(1) {margin-top:50px;}
	}
	.container {padding-top:70px;}
	.careerWrap {margin-top:80px;}
	.careerWrap .mainTit {font-size:2.2em;}
	.careList > li > * {display:block;}
	.careList > li > .liTit {width:100%;}
	.liTit {position:relative;padding-left:15px;}
	.liTit:before {content:'';position:absolute;top:50%;left:0;margin-top:-7px;width:4px;height:14px;background-color:#487fb7;opacity:0.5;}
	.liTxt {font-size:17px;}
	.liTxt {padding-left:15px;}
	.liTxt span:first-of-type:before {display:none;}
	.liTxt span:before {content:'/';margin:-11px 12px 0 6px;background-color:transparent;color:#ddd;}
	.liTxt .kind, .liTxt .rate {font-size:15px;}
	/* footer */
	footer {margin-top:100px;}
	/* top 버튼 */
	.top {right:0;bottom:0;width:100%;height:40px;line-height:40px;border-radius:0;}
	/* 모바일 문구 */
	.moSub {display:block;padding:25px 10px 0;text-align:center;font-size:16px;}
}

//min
@media screen and (max-width:480px) {
	.inner {padding:0 30px;}
	.inner, .mainTit {width:100%;min-width:320px;}
	.container, footer{min-width:320px;}
	.liTxt span:first-of-type {display:block;}
}