/* footer */
footer {
  margin-top: 20rem;
  padding: 5rem 0;
  background-color: rgba(0, 31, 58, 0.8);
  @include font(1.6rem, 300, var(--color_white), 1.6);
  text-align: center;
  strong {
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 500;
  }
}
/* top 버튼 */
.top {
  position: fixed;
  @include flex(row, center, center);
  z-index: 10;
  bottom: 5rem;
  right: 5rem;
  width: 5rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  @include font(1.6rem, 700, var(--color_white), 1.4);
  text-align: center;
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.blind {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  color: transparent;
}
