.header {
  max-width: 135rem;
  padding: 0 2rem;
  margin: 7rem auto 9rem;
}
.my_ability_area {
  .ability_row {
    margin-top: 2rem;
    &:first-child {
      margin-top: 0;
    }
  }
  .ability_title {
    @include font(1.6rem, 700, var(--color_555555), 1.6);
  }
  .ability_items {
    @include font(1.6rem, 500, var(--color_333333), 1.6);
    word-break: keep-all;
    strong {
      font-weight: 700;
    }
  }
}
