::selection {
  background-color: rgba(24, 190, 176, 0.7);
}

/* 본문 */
.container {
  max-width: 135rem;
  padding: 2rem 2rem 0;
  margin: 0 auto;
}
.main_title {
  position: relative;
  z-index: 1;
  margin-bottom: 3rem;
  @include font(3rem, 500, rgba(0, 12, 150, 0.8), 1.4);
  .name {
    font-size: 3.8rem;
    font-weight: 700;
  }
}
.inner {
  display: block;
  max-width: 139rem;
  margin: 0 auto;
}
.list_wrap {
  overflow: hidden;
  position: relative;
  @include flex(row, flex-start, center);
  flex-wrap: wrap;
  margin: -5rem;
}
.list_item {
  position: relative;
  width: 35rem;
  margin: 5rem;
  padding-right: 1rem;
  padding-bottom: 1.8rem;
  &.on {
    .bottom_area {
      opacity: 1;
      height: auto;
      margin-top: auto;
      transition: all 0.5s;
    }
    .item_back {
      opacity: 1;
      width: calc(100% + 1rem);
      top: -1rem;
      left: -1rem;
      right: 0;
    }
  }
}
.item_title {
  position: relative;
  z-index: 10;
  .title {
    overflow: hidden;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    background-color: $white;
    border: 1px solid rgba(0, 149, 255, 0.49);
    text-align: center;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .sub_title {
    overflow: hidden;
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    padding-left: 2.4rem;
    text-indent: -2.4rem;
    @include font(1.6rem, 500, $white, 1.4);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    &[href*='javascript'] {
      cursor: context-menu;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
      background: url('../images/icon_link_no.png') no-repeat center / cover;
      vertical-align: middle;
    }
    &:not([href*='javascript:void(0);']):before {
      background-image: url('../images/icon_link.png');
    }
  }
  .skill_label {
    display: block;
    margin-top: 0.8rem;
    span {
      display: inline-block;
      padding: 0 0.5rem 0.2rem;
      border-radius: 3px;
      @include font(1.4rem, 500, $white, 1.4);
    }
    .label_green {
      background-color: $color_37cd90;
    }
    .label_pink {
      background-color: $color_e84b80;
    }
    .label_orange {
      background-color: $color_f98500;
    }
    .label_yellow {
      background-color: $color_fbeb34;
      color: rgba(0, 0, 0, 1);
    }
    .label_purple {
      background-color: $color_c47ee4;
    }
  }
}
.item_back {
  opacity: 0.8;
  position: absolute;
  @include flex(column, flex-start, flex-start);
  z-index: 1;
  top: 1.5rem;
  left: 1.5rem;
  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  border-radius: 1rem;
  background-color: $list-dim;
  transition: 0.5s;
  color: $white;
  .bottom_area {
    opacity: 0;
    width: 100%;
    height: 0;
    padding: 0 1.5rem 1.5rem;
  }
  .my_work,
  .program {
    @include font(1.4rem, 300, $white, 1.6);
    span {
      &:after {
        content: ', ';
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
}
.career_wrap {
  margin-top: 12rem;
}
.career_list {
  border-top: 1px solid $color_dddddd;
  > li {
    @include flex(row, flex-start, center);
    padding: 2rem 0;
  }
}
.li_title {
  @include font(1.6rem, 500, $color_333333, 1.4);
}
.li_text {
  @include font(1.6rem, 700, $color_333333, 1.4);
  .rate {
    @include font(1.6rem, 500, $black, 1.4);
  }
  .kind {
    font-weight: 500;
  }
  span {
    &:before {
      content: '';
      display: inline-block;
      margin: 0 1rem;
      width: 1px;
      height: 1.5rem;
      background-color: $color_dddddd;
      vertical-align: middle;
    }
  }
}
