/* 포트폴리오 */
.portfolio_wrap {
  .portfolio {
    overflow: hidden;
    position: relative;
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    margin: -5rem;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 5rem;
    }
  }
  .list_item {
    position: relative;
    width: 35rem;
    margin: 5rem;
    padding-right: 1rem;
    padding-bottom: 1.8rem;
    &.on {
      .bottom_area {
        visibility: visible;
        transition: all 0.5s;
      }
      .item_back {
        opacity: 1;
        width: calc(100% + 1rem);
        top: -1rem;
        left: -1rem;
        right: 0;
      }
    }
  }
  .item_front {
    position: relative;
    z-index: 10;
  }
  .bottom_area {
    visibility: hidden;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }
  .my_work,
  .use_program {
    @include font(1.4rem, 300, var(--color_white), 1.6);
    span {
      &:after {
        content: ', ';
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  .sub_title {
    overflow: hidden;
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-left: 2.4rem;
    text-indent: -2.4rem;
    @include font(1.6rem, 500, var(--color_white), 1.4);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    &[href*='javascript'] {
      cursor: context-menu;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
      background: url('../images/icon_link_no.png') no-repeat center / cover;
      vertical-align: middle;
    }
    &:not([href*='javascript:void(0);']):before {
      background-image: url('../images/icon_link.png');
    }
  }
  .thumb_box {
    overflow: hidden;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    background-color: var(--color_white);
    border: 1px solid rgba(0, 149, 255, 0.49);
    text-align: center;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .skill_label {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
    margin: -0.2rem;
    span {
      display: block;
      padding: 0 0.5rem 0.2rem;
      margin: 0.2rem;
      border-radius: 3px;
      @include font(1.4rem, 500, var(--color_white), 1.4);
    }
    .label_green {
      background-color: var(--color_37cd90);
    }
    .label_pink {
      background-color: var(--color_e84b80);
    }
    .label_orange {
      background-color: var(--color_f98500);
    }
    .label_yellow {
      background-color: var(--color_fbeb34);
      color: rgba(0, 0, 0, 1);
    }
    .label_purple {
      background-color: var(--color_c47ee4);
    }
  }
  .item_back {
    opacity: 0.8;
    position: absolute;
    @include flex(column, flex-start, flex-start);
    z-index: 1;
    top: 1.5rem;
    left: 1.5rem;
    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
    border-radius: 1rem;
    background-color: var(--color_list_dim);
    transition: 0.5s;
    color: var(--color_white);
  }
}
